body {
    color: #D89216;
    font-family: 'Courier New', Courier, monospace;
}

html {
    font-size: 18px;    
}

a:link {
    color: #D89216;
    text-decoration: none;
}
a:visited  {
    color: #D89216;
    text-decoration: none;
}
a:hover {
    color: #696969;
    text-decoration: none;
}
a:active {
    color: #696969;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 14px;    
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 12px;    
    }
}

